*{
	box-sizing: border-box;
}

body{
	background-color: white;
}

#parte01 {
	background-color: lightgrey;
	margin: auto;
	width: 960px;
	height: 20px
}

#parte02 {
	background-color: tomato;
	margin: auto;
	width: 960px;
	height: 0px
}

#parte02 form{
	display: none;
}

#parte02 form input{
	margin-left: 10px;
	margin-top: 10px;
}